<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <style>
  .nav-item{
    font-size:120%;
  }
  </style>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md navbar-light bg-light">
    <!-- <a href="{{url_for('index')}}"><img src='static/img/logo.png'/></a> -->
    <div class="container-fluid">
        <div class="navbar-nav">
          <a href="{{url_for('index')}}" class="nav-item nav-link active">Home</a>
            <a href="{{url_for('dashboard')}}" class="nav-item nav-link">Dashboard</a>
            <a href="{{url_for('public_info')}}" class="nav-item nav-link">Information Portal</a>
            <a href="{{url_for('hospital_stats_summary.hospital_stats_summary')}}" class="nav-item nav-link">Hospitals Stats</a>            
            {% if current_user.is_authenticated %}
            <a href="{{url_for('hospital_info.hospital_info')}}" class="nav-item nav-link">Hospital Portal</a>
            {% else %}
            {% endif %}
        </div>
        <div class="navbar-nav ml-auto">
          {% if current_user.is_authenticated %}
            <a href="{{url_for('logout')}}" class="nav-item nav-link">Logout</a>
          {% else %}
          {% endif %}
        </div>
    </div>
</nav>
    {% block content %}

    {% endblock %}
  </body>
</html>
