<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>

    <ul class='nav'>
      <li class='nav-link'><a href="{{url_for('index')}}">Home</a></li>
      <li class='nav-link'><a href="{{url_for('dashboard')}}">Dashboard</a></li>
      {% if current_user.is_authenticated %}
      <li class='nav-link'><a href="{{url_for('hospital_info.hospital_info')}}">Hospital Portal</a></li>
      <li class='nav-link'><a href="{{url_for('logout')}}">Log Out</a></li>
      {% else %}
      {% endif %}
    </ul>
    {% block content %}

    {% endblock %}
  </body>
</html>
