
{% extends "base.html" %}
{% block content %}

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel='stylesheet' href="/static/css/style.css">

    <style>
        button {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        #text-1 {
            /* font-weight: bold; */
            font-size: 40px;
        }
        #text-2 {
            /* font-weight: bold; */
            font-size: 30px;
        }
        .img-responsive{
        max-width: 20%;
        height: auto;
      }

    </style>
</head>

<body>
    <div class="container">
        <div class='row'>
          <div class='column'>
            <img id="main-logo" class="img-fluid" alt="Responsive image" src='static/img/logo.png'/>
            <div id="text-2">A free-access health collaboration tool for COVID-19</div>
          </div>
        </div>
        <br>
        <div class='row-center'>
            <a href="{{url_for('dashboard.dashboard')}}">
              <div id="text-1">Dashboard</div>
            </a>
            <br>
            <a href="{{url_for('hospital_info.hospital_info')}}">
              <div id="text-1">Hospital Portal</div>
            </a>
        </div>
      </div>
</body>

{% endblock %}
