
{% extends "base.html" %}
{% block content %}

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel='stylesheet' href="/static/css/style.css">

    <style>
        button {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        #text-1 {
            /* font-weight: bold; */
            font-size: 40px;
        }
        .img-responsive{
        max-width: 30%;
        height: auto;
      }
      .container{
        text-align: center;
      }
    </style>
</head>

<body>
    <div class="container">
      <div class='column'>
        <img id="main-logo" class="img-fluid" alt="Responsive image" src='static/img/logo.png'/>
        <div id="text-1">Welcome to Project Moses</div>
      </div>
        <div class="container">
          <div class='row'>
          <div class='column'>
          </div>
          <div class='column'>
            <form method="POST">
              {{form.hidden_tag()}}
              {{form.hospital_user_name.label}}{{form.hospital_user_name(class_="form-control")}}
              {{form.password.label}}{{form.password(class_="form-control")}}
              <br>
              {{form.submit(class_="btn-success")}}

              <!-- For Bridge 360 -->
              <br>
              <br>
              <a href="{{url_for('register')}}">Register a Hospital</a>
            </form>
          </div>
          <div class='column'>
          </div>
        </div>
        </div>

    </div>

</body>

{% endblock %}
