<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel='stylesheet' href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- var mydata = [{{ hospital_tables }}]; -->
    <script>
      var $table = $('#table');
      var mydata = [{{ hospital_tables }}];

      $(function () {
      $('#table').bootstrapTable({
          data: mydata
        });
      });

    </script>
    <style>
        #main-logo {
            margin-top: 20px;
            height: 300px;
            width: auto;
        }
      </style>
  </head>

<table border="1" class="table">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Hospital Name</th>
      <th>Address</th>
      <th>Website</th>
      <th>Contact Num</th>
      <th>Email</th>
      <th>Num Confirmed COVID</th>
      <th>Num PUI</th>
      <th>Num Face Mask</th>
      <th>Num COVID Kits</th>
      <th>Num Respirators</th>
      <th>Num Doctors Handling</th>
      <th>Num Nurses Handling</th>
      <th>Num Med Staff Handling</th>
      <th>Capacity to Quarantine</th>
      <th>Notes</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>a</td>
      <td>a</td>
      <td>001</td>
      <td>1.0</td>
      <td>a@gmail.com</td>
      <td>3</td>
      <td>2</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>Unknown</td>
      <td></td>
      <td>2020-03-15 03:49:09.157404</td>
    </tr>
    <tr>
      <th>1</th>
      <td>b</td>
      <td>ad</td>
      <td>bw</td>
      <td>0.0</td>
      <td>b@gs.com</td>
      <td>5</td>
      <td>23</td>
      <td>23.0</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>Unknown</td>
      <td></td>
      <td>2020-03-15 04:41:28.435751</td>
    </tr>
  </tbody>
</table>
