<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>registration</h1>
    <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.first_name.label }} {{ form.first_name() }}
      <br>
      {{ form.last_name.label }} {{ form.last_name(class='') }}
      <br>
      {{ form.middle_name.label }} {{ form.middle_name() }}
      <br>
      {{ form.suffix.label }} {{ form.suffix() }}
      <br>
      {{ form.date_of_birth.label }} {{ form.date_of_birth() }}
      <br>
      {{ form.civil_status.label }} {{ form.civil_status() }}
      <br>
      {{ form.gender.label }} {{ form.gender() }}
      <br>
      {{ form.citizenship.label }} {{ form.citizenship() }}
      <br>
      {{ form.place_of_birth.label }} {{ form.place_of_birth() }}
      <br>
      {{ form.home_address.label }} {{ form.home_address() }}
      <br>
      {{ form.city_of_residence.label }} {{ form.city_of_residence() }}
      <br>
      {{ form.spouse_last_name.label }} {{ form.spouse_last_name() }}
      <br>
      {{ form.spouse_first_name.label }} {{ form.spouse_first_name() }}
      <br>
      {{ form.spouse_middle_name.label }} {{ form.spouse_middle_name() }}
      <br>
      {{ form.spouse_suffix.label }} {{ form.spouse_suffix() }}
      <br>
      {{ form.submit() }}
    </form>
  </body>
</html>
